# Dependencias de Node.js (son pesadas y se regeneran con npm install)
frontend/node_modules/

# Archivos de compilación de React/Vite/Vue
frontend/dist/

# Entorno virtual de Python (no se debe subir al repo)
backend/.venv/

# Archivos temporales de Python
backend/__pycache__/

# Archivos de configuración sensible (¡NUNCA subas tus llaves o contraseñas!)
**/.env

# Archivos basura del sistema operativo (macOS)
**/.DS_Store